[submodule "SampleProject/External/ObjectiveC-Basic-Blocks"]
	path = SampleProject/External/ObjectiveC-Basic-Blocks
	url = https://github.com/cvknage/ObjectiveC-Basic-Blocks.git
[submodule "SampleProject/External/autodescribe"]
	path = SampleProject/External/autodescribe
	url = https://github.com/neoneye/autodescribe.git
